<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Anonimizacion</title>
  </head>
  <body>
    <h1>Datos Recibidos</h1>
    <p><strong>Nombre:</strong> {{datos.nombre}} <strong>&nbsp;--&gt;&nbsp;</strong> {{datos_anom.nombre}}</p>
    <p><strong>Email:</strong> {{datos.email}} <strong>&nbsp;--&gt;&nbsp;</strong> {{datos_anom.email}} </p>
    <p><strong>Contraseña:</strong> {{datos.contr}} <strong>&nbsp;--&gt;&nbsp;</strong> {{datos_anom.contr}}</p>
    <p><strong>Dirección:</strong> {{datos.dir}} <strong>&nbsp;--&gt;&nbsp;</strong> {{datos_anom.dir}}</p>
    <p><strong>Teléfono:</strong> {{datos.telf}} <strong>&nbsp;--&gt;&nbsp;</strong> {{datos_anom.telf}}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{datos.fecha_nac}} <strong>&nbsp;--&gt;&nbsp;</strong> {{datos_anom.fecha_nac}}</p>
  </body>
</html>
