<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pseudonimizacion</title>
  </head>
  <body>
    <h1>Datos Recibidos</h1>
    <p><strong>Nombre:</strong> {{datos.nombre}} <strong>&nbsp;--&gt;&nbsp;</strong> {{datos_pseudo.nombre}} <strong>&nbsp;--&gt;&nbsp;</strong> {{datos_descf.nombre}}</p>
    <p><strong>Email:</strong> {{datos.email}} <strong>&nbsp;--&gt;&nbsp;</strong> {{datos_pseudo.email}} <strong>&nbsp;--&gt;&nbsp;</strong> {{datos_descf.email}}</p>
    <p><strong>Contraseña:</strong> {{datos.contr}} <strong>&nbsp;--&gt;&nbsp;</strong> {{datos_pseudo.contr}} <strong>&nbsp;--&gt;&nbsp;</strong> {{datos_descf.contr}}</p>
    <p><strong>Dirección:</strong> {{datos.dir}} <strong>&nbsp;--&gt;&nbsp;</strong> {{datos_pseudo.dir}} <strong>&nbsp;--&gt;&nbsp;</strong> {{datos_descf.dir}}</p>
    <p><strong>Teléfono:</strong> {{datos.telf}} <strong>&nbsp;--&gt;&nbsp;</strong> {{datos_pseudo.telf}} <strong>&nbsp;--&gt;&nbsp;</strong> {{datos_descf.telf}}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{datos.fecha_nac}} <strong>&nbsp;--&gt;&nbsp;</strong> {{datos_pseudo.fecha_nac}} <strong>&nbsp;--&gt;&nbsp;</strong> {{datos_descf.fecha_nac}}</p>
  </body>
</html>
